@import '../../../../content/scss/bootstrap-variables';

:host ::ng-deep {
  .p-chip.TEM {
    background: $temperature;
  }
  .p-chip.LUM {
    background: $luminosity;
  }
  .p-chip.HUM {
    background: $humidity;
  }
  .p-chip.RAI {
    background: $raim;
  }
}
