/* ==========================================================================
Main page styles
========================================================================== */

.herve {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../../content/images/herve.png') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .herve {
    background: url('../../../content/images/herve.png') no-repeat center top;
    background-size: contain;
  }
}

.field-item {
  .field-item-content {
      max-height: 80px;
      border: 1px solid var(--surface-d);
      border-radius: 3px;
      margin: .5rem;
      text-align: center;
      padding: 0.5rem 0;
  }
}