<div>
  <h2 id="page-heading" data-cy="SensorHeading">
    <span jhiTranslate="herveApp.sensor.home.title">Sensors</span>
  </h2>

  <div class="d-flex justify-content-end">
    <button
      pButton
      (click)="loadAll()"
      [disabled]="isLoading"
      icon="fa-solid fa-rotate"
      type="button"
      iconPos="left"
      label="Actualiser"
    ></button>

    <button pButton [routerLink]="['/sensor/new']" icon="fa-solid fa-plus" type="button" iconPos="left" label="Créer"></button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sensors?.length === 0">
    <span jhiTranslate="herveApp.sensor.home.notFound">No sensors found</span>
  </div>

  <div class="card" *ngIf="sensors && sensors.length > 0">
    <p-table
      [value]="sensors"
      sortField="field.name"
      groupRowsBy="field.name"
      sortMode="single"
      [scrollable]="true"
      scrollHeight="500px"
      rowGroupMode="subheader"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" pSortableColumn="name"><p-sortIcon field="name"></p-sortIcon>Name</th>
          <th scope="col">Description</th>
          <th scope="col" pSortableColumn="sensorType.code"><p-sortIcon field="code"></p-sortIcon>Type</th>
          <th scope="col">Position X</th>
          <th scope="col">Position Y</th>
          <th scope="col">Threshold min</th>
          <th scope="col">Threshold max</th>
          <th scope="col"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="groupheader" let-sensor>
        <tr pRowGroupHeader>
          <td colspan="8">
            <p>
              <i class="fa-solid fa-tractor"></i> 
              <span class="font-bold ml-2">{{ sensor.field.name }}</span>
              -
              <span class="font-bold ml-2">{{ sensor.field.description }}</span>
            </p>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-sensor let-rowIndex="rowIndex">
        <tr>
          <td>
            {{ sensor.name }}
          </td>
          <td>
            {{ sensor.description }}
          </td>
          <td>
            <p-chip
              label="{{ sensor.sensorType.name }}"
              [icon]="
                sensor.sensorType.code == 'TEM'
                  ? 'fa-solid fa-temperature-high'
                  : sensor.sensorType.code == 'LUM'
                  ? 'fa-solid fa-lightbulb'
                  : sensor.sensorType.code == 'HUM'
                  ? 'fa-solid fa-droplet'
                  : sensor.sensorType.code == 'RAI'
                  ? 'fa-solid fa-cloud-showers-heavy'
                  : ''
              "
              styleClass="{{ sensor.sensorType.code }}"
            ></p-chip>
          </td>
          <td>
            {{ sensor.position_x }}
          </td>
          <td>
            {{ sensor.position_y }}
          </td>
          <td>
            {{ sensor.minThreshold }}
          </td>
          <td>
            {{ sensor.threshold }}
          </td>
          <td>
            <div class="btn-group">
              <button
                pButton
                pRipple
                [routerLink]="['/sensor', sensor.id, 'view']"
                icon="fa-solid fa-eye"
                type="button"
                class="p-button-rounded"
              ></button>

              <button
                pButton
                pRipple
                [routerLink]="['/sensor', sensor.id, 'edit']"
                icon="fa-solid fa-pencil"
                type="button"
                class="p-button-rounded"
              ></button>

              <button pButton pRipple (click)="delete(sensor)" icon="fa-solid fa-trash-can" type="button" class="p-button-rounded"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
