<div>
  <h2 id="page-heading" data-cy="SensorDataHeading">
    <span jhiTranslate="herveApp.sensorData.home.title">Sensor Data</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="herveApp.sensorData.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sensor-data"
        [routerLink]="['/sensor-data/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="herveApp.sensorData.home.createLabel"> Create a new Sensor Data </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sensorData?.length === 0">
    <span jhiTranslate="herveApp.sensorData.home.notFound">No sensorData found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sensorData && sensorData.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="herveApp.sensorData.unit">Unit</span></th>
          <th scope="col"><span jhiTranslate="herveApp.sensorData.value">Value</span></th>
          <th scope="col"><span jhiTranslate="herveApp.sensorData.datetime">Datetime</span></th>
          <th scope="col"><span jhiTranslate="herveApp.sensorData.sensor">Sensor</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sensorData of sensorData; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sensor-data', sensorData.id, 'view']">{{ sensorData.id }}</a>
          </td>
          <td>{{ sensorData.unit }}</td>
          <td>{{ sensorData.value }}</td>
          <td>{{ sensorData.datetime | formatMediumDate }}</td>
          <td>
            <div *ngIf="sensorData.sensor">
              <a [routerLink]="['/sensor', sensorData.sensor?.id, 'view']">{{ sensorData.sensor?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sensor-data', sensorData.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sensor-data', sensorData.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sensorData)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
