<div>
  <h2 id="page-heading" data-cy="FieldHeading">
    <span jhiTranslate="herveApp.field.home.title">Fields</span>
  </h2>

  <div class="d-flex justify-content-end">
    <button
      pButton
      (click)="loadAll()"
      [disabled]="isLoading"
      icon="fa-solid fa-rotate"
      type="button"
      iconPos="left"
      label="Actualiser"
    ></button>

    <button pButton [routerLink]="['/field/new']" icon="fa-solid fa-plus" type="button" iconPos="left" label="Créer"></button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fields?.length === 0">
    <span jhiTranslate="herveApp.field.home.notFound">No fields found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fields && fields.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="herveApp.field.name">Name</span></th>
          <th scope="col"><span jhiTranslate="herveApp.field.description">Description</span></th>
          <th scope="col"><span jhiTranslate="herveApp.field.position">Position</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let field of fields; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/field', field.id, 'view']">{{ field.id }}</a>
          </td>
          <td>{{ field.name }}</td>
          <td>{{ field.description }}</td>
          <td>{{ field.position }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button pButton pRipple [routerLink]="['/field', field.id, 'view']" icon="fa-solid fa-eye" type="button" class="p-button-rounded"></button>

              <button pButton pRipple [routerLink]="['/field', field.id, 'edit']" icon="fa-solid fa-pencil" type="button" class="p-button-rounded"></button>

              <button pButton pRipple (click)="delete(field)" icon="fa-solid fa-trash-can" type="button" class="p-button-rounded"></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
